<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo_moody.png", alt: "Moody Logo", height: "50", class: "rounded-circle" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Accueil", root_path, class: "nav-link", style: "color:#0c1929;" %></li>
          <li class="nav-item"><%= link_to "Mes chats", chats_path, class: "nav-link", style: "color:#0c1929;" %></li>
          <li class="nav-item"><%= link_to "Mes vidéos", musics_path, class: "nav-link", style: "color:#0c1929;" %></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:#0c1929;">
              <%= image_tag "profile.png", alt: "Photo Profile", class: "rounded-circle border border-dark", height: "30" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "Mon profil", profile_path, class: "dropdown-item" %></li>
              <li><%= link_to "Paramètres", settings_profile_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, form_class: "dropdown-item p-0 m-0", class: "w-100 text-start btn btn-link text-danger" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: "nav-link", style: "color:#0c1929;" %></li>
          <li class="nav-item"><%= link_to "S'inscrire", new_user_registration_path, class: "nav-link", style: "color:#0c1929;" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
