<div class="container mt-5">
  <h2><%= @chat.title %></h2>

  <hr>

  <h4>Messages</h4>
  <div class="mb-4">
    <% @messages.each do |message| %>
      <div class="p-2 mb-2 border rounded <%= message.role == 'user' ? 'bg-light' : 'bg-warning text-dark' %>">
        <strong><%= message.role.capitalize %> :</strong> <%= message.content %>
      </div>
    <% end %>
  </div>

  <%= simple_form_for([@chat, @message]) do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
